# Compiled files
target/
*.class

# IDE
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Logs (если папку logs не хотите коммитить – раскомментируйте строку ниже)
# logs/*.log

# OS files
.DS_Store
Thumbs.db

# Maven wrapper (JAR можно не хранить, но wrapper.properties и mvnw нужны)
.mvn/wrapper/maven-wrapper.jar

target/
*.class
.idea/
*.iml
logs/
*.log
es_data/
elasticsearch_data/
postgres_data/